*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;

}
*::selection{
    color: wheat;
    background-color: black;
}

html , body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #f7f7f7;
}

#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 2vw;
    padding-top: 13vh;
}

#page1 h1{
    font-size: 12vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 13vw;
    letter-spacing: -5px;
}

#video-container{
    height: 100vh;
    width: 100%;
    background-color: gray;
    margin-top: 1vw;
    position: relative;

}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

#video-container #play{
    padding: 3vw 2.2vw;
    background-color: black;
    color: wheat;
    font-size: 1.3vw;
    position: fixed;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#page2{
   min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem{
    height: 100%;
    width: 30%;
    /* background-color: rebeccapurple; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
}

#page2 .elem .dets{
    height: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    border-radius: 50px;
    background-color: rgb(195, 216, 197);
    cursor: pointer;

}

#page2 .h2_centre{
    text-align: center;
    font-size: 1.3rem;
    padding: 7px 2px;
    margin-top: 3px;
    word-spacing: 20px;
    font-family: futura;
}


#page3{
    margin:40px 20px;
    /* width: 100%; */
    /* min-height: 120vh; */
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

#page3 .child{
    /* border: 2px solid red; */
    padding: 34px;
    margin:-23px 13px;
    border-radius: 20px;

    /* background-color: rgb(173, 146, 200); */
    
}


#page3 .child img{
    height: 399px;
    display: block;
    margin: auto;
    padding: 30px 147px;
}

#page3 .child button{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    padding: 8px 20px;
    margin: 4px 7px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 400;

    font-family: futura;


}
#page3 .child #btn-1{
    background-color: green;
}


.h3_centre{
    font-size: 1.3rem;
    padding: 12px auto;
    margin: 3px 200px;
    text-align: center;
}

/* #page2 .elem .dets:hover{
    height: 200px;
} */




#cursor{
    height: 100px;
    width: 100px;
    background-color: gray;
    border-radius: 50%;
    position: fixed;
    /* transform: scale(0); */
    transform: translate(-50% , -50%) scale(0);
   
    
}

#nav{
    /* height: 100px; */
    width:100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:60px;

}

#nav-part2 #links a{
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0f0f;
    font-weight: 400;
    font-size: 14px;
    margin-right: 45px;
}

#nav #icons i{
    cursor: pointer;
    font-size: 18px;
    margin:0px 20px;
    font-weight: 100;

}

#links{
    padding: 10px;
}

#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #f7f7f7;
}

#nav-part1{
    /* background-color: red; */
    height: 83px;
    overflow: hidden;
}

#nav-part1 svg{
    display: block;
}






@media (max-width:600px) {

    #nav{
        /* height: 100px; */
        width:100%;
        /* background-color: burlywood; */
        position: fixed;
        z-index: 99;
        padding: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    #nav #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:60px;
    
    }
    
    #nav-part2 #links a{
        text-decoration: none;
        text-transform: uppercase;
        color: #0f0f0f;
        font-weight: 400;
        font-size: 14px;
        margin-right: 45px;
    }
    
    #nav #icons i{
        cursor: pointer;
        font-size: 18px;
        margin:0px 20px;
        font-weight: 100;
    
    }
    
    #links{
        padding: 10px;
        display: none;
    }
    
    #icons{
        padding: 7px;
        border-radius: 50px;
        background-color: #f7f7f7;
    }
    
    #nav-part1{
        /* background-color: red; */
        height: 83px;
        overflow: hidden;
    }
    
    #nav-part1 svg{
        display: block;
        height: 80px;
        /* width: 70px; */
    }

    #nav #twogoodlogo{
        height: 70px;
        margin-right: -20px;
    }


    #page1{
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;
    }

    #page1 h1{
        font-size: 15vw;
        font-family: futura;
        line-height: 14vw;
        text-transform: uppercase;
        letter-spacing: -3px;
    }

    #video-container{
        height: 25vh;
        margin-top: 3vw;
        position: relative;
    
    }

    #page2{
        min-height: 100vh;
         width: 100%;
         position: relative;
         background-color: aliceblue;
         display: flex;
         align-items: center;
         padding: 8vw 3vw;
         flex-direction: column;
         justify-content: space-between;
     }

     #page2 .elem{
        height: 100vh;
        width: 100%;
        /* background-color: rebeccapurple; */
        overflow: hidden;
        margin-bottom: 3vw;
    
    }
    #page2 .h2_centre{
        text-align: center;
        font-size: 1.3rem;
        padding: 7px 2px;
        margin-top: 3px;
        word-spacing: 20px;
        font-family: futura;
    }


    #page3 {
        margin: 2%;
        width: fit-content;
    }

    #page3 .child {
        padding: 2%;
    }
    
    #page3 .child img {
        padding: 10px;
        margin: 2px -30px;
        justify-content: center;
        align-items: center;
    }

    .h3_centre {
        margin: 3px;
    }
    
    }

